<aside #mainSidebar class="main-sidebar sidebar-light-primary elevation-4 cus-text"
  >
  <!-- Brand Logo -->
  <a [routerLink]="['/admin']" class="brand-link">
    <img src="assets/img/unilogo.png" alt="UniQA" class="brand-image" />
    <span class="brand-text font-weight-light">UniQA</span>
  </a>

  <div class="sidebar">
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li id="menu1" class="nav-item menu-open">
          <a class="nav-link cus-bg" (click)="menu('menu1')" style="background: #418994; color: white;">
            <i class="fas fa-journal-whills"></i>&nbsp;
            <p>
              Danh mục
              <i class="right fa fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">  
            <li class="nav-item">
              <a [routerLink]="['/admin/LoaiKiemDinh']" class="nav-link" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">
                <i class="fas fa-bookmark"></i>
                <p>&nbsp; Loại kiểm định</p>
              </a>
            </li> 
          </ul>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
</aside>