<section class="content-header" style="padding: 5px !important;">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-md-6">
        <ol class="breadcrumb float-sm-left">
          <li class="breadcrumb-item active">
            <i class="fas fa-home"></i> &nbsp;Trang chủ
          </li>
          <div class=""></div>
        </ol>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <div class="col-lg-4 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
          <div class="inner">
            <h3>{{SinhVienDangO}}</h3>

            <p>Tổng số sinh viên đang ở</p>
          </div>
          <div class="icon">
            <i class="fas fa-user-graduate"></i>
          </div>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-4 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
          <div class="inner">
            <h3>{{QuyDinhKhoanNopChuaNop}}</h3>

            <p>Tổng số khoản nộp chưa thanh toán</p>
          </div>
          <div class="icon">
            <i class="fas fa-file-invoice-dollar"></i>
          </div>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-4 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
          <div class="inner">
            <h3>{{DangKyChuaDuyet}}</h3>
            <p>Tổng số hồ sơ đăng ký chưa duyệt</p>
          </div>
          <div class="icon">
            <i class="fas fa-file-signature"></i>
          </div>
        </div>
      </div>
      <!-- ./col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- Main row -->
</section>
<!-- /.content -->
